:root {
  --terminal-width: 700px;
  --terminal-height: 500px;
  --primary-text: #33ff33;
  --close-button: #ff605c;
  --min-button: #ffbd44;
  --max-button: #00ca4e;
  --button-width: 12px;
  --button-height: 12px;
  --page-background: #dadce0;
  --border-radius: 8px;
}

body {
  background-color: var(--page-background);
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  padding: 0;
  margin: 0;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.terminal-title {
  font-size: 14px;
  text-transform: uppercase;
  color: #2e3134;
}
.terminal {
  display: flex;
  flex-direction: column;
  width: var(--terminal-width);
  height: var(--terminal-height);
  margin: 60px auto;
  box-shadow: 10px 10px 10px gray;
  border-radius: var(--border-radius);
}
header {
  display: grid;
  grid-template-columns: 290px 1fr;
  border: 1px solid lightgray;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}
header,
main {
  padding: 8px;
}

main {
  background-color: black;
  height: 100%;
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}

section {
  display: flex;
  color: var(--primary-text);
}

.menu {
  visibility: hidden;
}

.close,
.min,
.max {
  display: inline-block;
  border: 1px solid lightgray;
  border-radius: 50%;
  width: var(--button-width);
  height: var(--button-height);
  vertical-align: middle;
}

.close {
  background-color: var(--close-button);
}

.min {
  background-color: var(--min-button);
}
.max {
  background-color: var(--max-button);
}

.close,
.min,
.max:hover {
  width: calc(var(--button-width) + 1px);
  height: calc(var(--button-height) + 1px);
}

input {
  flex: 2;
  border: none;
  background-color: black;
  color: var(--primary-text);
  margin-left: 10px;
}
input:focus {
  outline: none;
}
